@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*
{
    margin: 0;
    padding: 0;
    background-color: #f9f9f4;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}
*::selection{
    background-color: #ffedf0;
}
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: rgba(240, 240, 240, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 6px;
}

::-webkit-scrollbar-button {
    width: 10px;
    height: 7px;
    background-color: rgb(52, 216, 147);
}
.petlist_main_border {
    width : 100em;
    height : 55em;
    margin: 30px auto;
    border: 1px solid #000;
    border-radius: 50px;
    /* position: relative;
    top: 30px; */
}
.petlist_contents_container {
    display: inline-block;
    margin-top: 30px;
    margin-left: 130px;
    font-size : 18px;
}
.petnametitle{
    color: #469457;
}
textarea {
    resize: none;
}
.petbutton {
    border: 2px solid rgb(52, 216, 147);
    border-radius: 5px;
    color: rgb(41, 226, 134);
    padding: 10px;
}
.petbutton:hover {
    color: #f190f5;
    background-color: #f6fd8e;
}
.pettodobutton {
    display: inline-block;
    border-radius: 20px;
    padding: 2px 5px ;
}
.dday {
    background-color: #a3d39c;
}
.progress{
    border: 2px solid rgb(52, 216, 147);
}
h1{
    margin-right: 50px;
    font-size: 60px;
    margin-top: 70px;
}
html{
    height: 900px;
}
a{
    text-decoration: none;
}