@charset "utf-8";


@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
    {
        margin: 0;
        padding: 0;
    }
.wrap
{
    font-family: 'Cafe24Danjunghae';
    background-color: #f9f9f4;
    width: 250px;
    height: 100%;
}
.profile_bar
{
    width: 250px;
    text-align: center;
}
img
{
    width: 250px;
    height: 250px ;
}

.profile_main
{
    background-color: aqua;
    width: 250px;
    text-align: center;
}
.profile_img
{
    width: 250px;
    height: 250px;
    border: 1px solid #333;
    border-radius: 25px;
}
.v-line{
    border-left: 1px solid  #bdbdbd;
    height:100%;
    left: 280px;
    position: absolute;
    }
.day{
    background-color: rgb(221, 230, 173);
    width: 250px;
    text-align: center;
}