@charset "utf-8";


@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
    {
        margin: 0;
        padding: 0;
        background-color: #f9f9f4;
    }
.wrap
{
    margin-top: 50px;
    font-family: 'Cafe24Danjunghae';
    background-color: #f9f9f4;
    width: 320px;
    height: 1000px;
}
.profile_bar
{
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
img
{
    width: 200px;
    height: 200px ;
}

.profile_main
{
    margin-top: 50px;
}
.two
{
    margin : 25px 25px ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.v-line{
    border-left: 1px solid  #bdbdbd;
    height:850px;
    left: 350px;
    position: absolute;
    margin-top: 30px;
    }
.day{
    background-color: rgb(221, 230, 173);
    width: 250px;
    text-align: center;
}
.profile_con{

    width: 250px;
    text-align: center;
}
#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    border: 3px solid #2ebf75;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #696d5d;
    border: 1px solid #2ebf75;
    background: linear-gradient(to right, #d3e7dd, #06aa00);
}
.sp_1{
    margin-top: 3px;
}
a{
    text-decoration: none;
}
/* .p_1{
    margin: -3px;
} */
.lk_1{
    margin-top: 30px;
    text-align: center;
}
.btn_1{
    border: 2px solid rgb(52, 216, 147);
    border-radius: 5px;
    color: rgb(41, 226, 134);
    padding: 10px;
}
a:hover {
    color: #f190f5;
    background-color: #f6fd8e;
}