@charset "utf-8";
/* 
*
    {
        margin: 0;
        padding: 0;
        background-color: #f9f9f4;
    } */
.wrap
{
    position: relative;
    /* margin-top: 50px; */
    font-family: 'Cafe24Danjunghae';
    background-color: #f9f9f4;
    width: 320px;
    height : 60em;
    float: left;
    margin-right: 50px;
    /* border-right: 1px solid #ccc; */
}
.wrap::after {
    content: '';
    position : absolute;
    width: 20px;
    height : 55em;
    left: 300px;
    top : 3em;
    border-right: 1px solid rgba(204, 204, 204, 0.568);
    display: inline-block;
}
.profile_bar
{
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
img
{
    width: 200px;
    height: 200px ;
}

.profile_main
{
    margin-top: 60px;
}
.two
{
    margin : 25px 25px ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.two{filter: drop-shadow(5px 10px 5px rgba(179, 175, 175, 0.623)); }

.day{
    background-color: rgb(225, 233, 182);
    width: 230px;
    text-align: center;
    margin-bottom: 10px;
}
.profile_con{

    width: 250px;
    text-align: left;
    margin-left: 50px;
}
#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    border: 3px solid #2ebf75;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #696d5d;
    border: 1px solid #2ebf75;
    background: linear-gradient(to right, #d3e7dd, #a5eba3);
}
.per
{
    background-color: transparent;
    position: relative;
    top: -15px;
    color: #696d5d;
}

a{
    text-decoration: none;
}
.lk_1{
    margin-top: 30px;
    text-align: center;
}
.btn_1{
    border: 2px solid rgb(52, 216, 147);
    border-radius: 5px;
    color: rgb(41, 226, 134);
    padding: 10px;
}
.profile_con p
{
    padding: 3px 0;
}
.btn_1:hover {
    color: #f190f5;
    background-color: #f6fd8e;
}