li{
    list-style-type: none;
}

.petlist_list_insertpagebutton{
    background-color: #D3E7DD;
}

.petlist_bottom{
    text-align: center;
}
.petlist_bottom:hover {
    color: #f190f5;
    background-color: #f6fd8e;
}
