@charset "utf-8";


li{
    list-style: none;
}
a {
    text-decoration: none;
}

.update_form
{
    font-size: 18px;
}

#select
{
    font-size: 18px;
}
.update_form_put input
{
    border: none;
    margin: 5px 0;
    font-size: 18px;
}
.contents
{
    vertical-align: top;
}

.update_form_put input
{
    margin-top: 5px;
}
.input_contents textarea
{
    margin-top: 5px;
}
.btn_wrap .petbutton
{
    cursor: pointer;
}
.btn_wrap
{
        display: inline-block;
        margin-top: 78px;
        margin-left: 80px;
}
button {
    font-size : 18px;
}
.margin_right {
    margin-right: 5px;
}
div input {
    font-size : 18px;
}
textarea {
    font-size : 18px;
}
.pet_tit
{
    width: 460px;
}