.insert_btns {
    display: inline-block;
    margin-top: 50px;
    margin-left: 60px;
}
#select {
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    font-size: 18px;
}
.contents_1 {
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}
.submit_btn {
    font-size : 18px;
    background-color: rgba(204, 204, 204, 0);
}
.contents input {
    margin-top: 10px;
    border: none;
    font-size: 18px;
}
select {
    font-size: 18px;
}
#title {
    width: 460px;
}