

@charset "utf-8";


li{
    list-style: none;
}
a {
    text-decoration: none;
}

.profile_insert_form
{
    font-size: 18px;
}

#select
{
    font-size: 18px;
}
.profile_insert_form input
{
    border: none;
}


.update_form_put input
{
    margin-top: 5px;
}
.input_contents textarea
{
    margin-top: 5px;
}
.btn_wrap .petbutton
{
    cursor: pointer;
}
.btn_wrap
{
    margin-top: 10px;
}
input{
    font-size: 18px;
}
.erd_1{
    font-size: 18px;
}
.con_main{
    margin-top: 100px;
}
.picture
{
    margin-top: 60px;
}
.a_btn
{
    margin-top: 30px;
}
input[type="file"]::file-selector-button {
    border: 1px solid #000;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #A7A8AA;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}
input[type="file"]::file-selector-button:hover{
    box-shadow: 1px 1px 3px 1px #A7A8AA inset;
}