

@charset "utf-8";


li{
    list-style: none;
}
a {
    text-decoration: none;
}

.profile_insert_form
{
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    font-size: 18px;
}

#select
{
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    font-size: 18px;
}
.profile_insert_form input
{
    border: none;
}


.update_form_put input
{
    margin-top: 5px;
}
.input_contents textarea
{
    margin-top: 5px;
}
.btn_wrap .petbutton
{
    cursor: pointer;
}
.btn_wrap
{
    margin-top: 10px;
}