form{
    margin:0 auto;
    margin-top: 20vh;
    width: 40%;
    height: auto;
    padding: 3% 5%;
    border-radius: 20px;
}
.a_log{
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}