h1{
    text-align: center;
}
h2{
    margin-left: 30px;
}
/* .div1{
    margin-left: 300px;
    margin-bottom: 100px;
}
div{
    font-size: 20px;
}
.div_container{
    margin-top: -300px
} */
.my_info{
    margin-left: 1600px;
    margin-bottom: 150px;
}
.my-container{
    margin-bottom: 60px;
}